#wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  min-width: 650px;
  padding-left: 225px;
  -webkit-transition: padding-left .45s ease-in-out;
  transition: padding-left .45s ease-in-out;
}

#login {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/login_background_PC.jpg");
}

#login .dialog-box {
  width: auto;
  height: 600px;
}

#login .dialog-box .login-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

#login .dialog-box .login-component [class$="content"] {
  width: 50%;
}

#login .dialog-box .login-component .bg-content {
  background: url("../img/login_input_background.png") no-repeat;
  background-size: contain;
  width: 465px;
  height: 100%;
}

#login .dialog-box .login-component .text-content {
  width: 100%;
  max-width: 405px;
  padding: 0 60px;
  margin: auto;
}

#login .dialog-box .login-component .text-content .tit {
  margin-bottom: 2rem;
}

#login .dialog-box .login-component .text-content .tit h2 {
  margin-bottom: 1rem;
  line-height: 2rem;
  font-size: 1.75rem;
  font-weight: 700;
}

#login .dialog-box .login-component .text-content .tit h2 strong {
  color: #fe661a;
}

#login .dialog-box .login-component .text-content .con input {
  background: #fff;
  padding: 0 1rem;
  border-radius: 1rem;
}

#login .dialog-box .login-component .text-content .con input[type="submit"] {
  background: #fe661a;
  color: #fff;
}

#login .dialog-box .login-component .text-content .con a {
  font-size: .775rem;
  color: #6c738c;
}

#login .dialog-box .login-component .text-content .bot {
  margin-top: 5rem;
  text-align: center;
  font-size: .85rem;
}

header {
  position: relative;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-transition: left .45s ease-in-out;
  transition: left .45s ease-in-out;
}

#headerMenu {
  /* background: #15191c;  */
  background: #465266;
  width: 225px;
  min-width: 225px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  color: #fff;
}

header.show {
  left: 0;
}

header h1 {
  position: relative;
}

header h1 a.logo {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

header h1 a.logo i {
  font-size: 32px;
}

header h1 button.btn {
  position: absolute;
  top: 0;
  right: 1.25rem;
  bottom: 0;
}

.brick {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.brick.show {
  display: block;
}

#headerHideBtn,
#headerShowBtn {
  display: none;
}

/* ---------------------------------------------------------- */
main {
  background: #eaedf1;
  width: 100%;
  height: 100vh;
}

.page-head {
  background: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  height: 60px;
  line-height: 60px;
  padding: 0 1em;
  border-bottom: 1px solid #dbe1e8;
}

.page-main {
  background: #f9f9f9;
  height: calc(100vh - 60px);
  padding: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 1200px) {
  header {
    left: -225px;
  }
  #wrap {
    padding-left: 0;
  }
  #headerHideBtn,
  #headerShowBtn {
    display: inline-block;
  }
}

@media screen and (max-width: 992px) {
  #login .bg-content {
    display: none;
  }
}
/*# sourceMappingURL=page.css.map */