
@mixin display($view) {
    display: $view; 
    display: -ms-$view; 
}

@mixin alignItems($position) { 
    -ms-flex-align: $position;
    align-items: $position; 
}

@mixin justifyContent($position) {
    -ms-flex-pack: $position;
    justify-content: $position;
}

@mixin labelBasic { 
    min-width: 0; 
    min-height: 35px; 
    line-height: 1rem; 
    font-size: .775rem; 
    font-weight: 400; 
    @include display(flex); 
    @include alignItems(center); 
}

@mixin labelBefore { 
    content:''; 
    position: relative;
    display: inline-block; 
    min-width: 15px; 
    width: 15px; 
    height: 15px; 
    border: $borderBasic; 
    border-radius: .25rem;
    margin-right: .5rem; 
}

$borderBasic: 1px solid; 
$primary: #1f76b8; 
$grey: #dbe1e8; 
$navy: #394263; 
$orange: #FF661A; 


/* button component */

.btn { 
    display: inline-block;
    background: transparent; 
    min-width: 75px; 
    min-height: 30px; 
    line-height: 30px; 
    border: $borderBasic transparent; 
    outline: none;
    padding: 0 1em; 
    text-align: center;
    font-size: 14px; 
    cursor: pointer;
    color: currentColor; 
    transform: skew(-0.1deg); 

    span {
        margin-left: .5rem;
    }

    i { 
        font-size: 1em; 
        opacity: .3;
    }

    &.primary { 
        background: $primary; 
        color: #fff; 
    }

    &.link { 
        min-width: 0; 
        min-height: 0; 
        padding: 0; 
        line-height: 1rem; 
    }
}

/* navigation */

.navbar {
    a { 
        background: transparent; 
        width: 100%; 
        padding: .75rem 1rem; 
        transition: all .1s ease-in-out;

        &:hover, 
        .active { 
            background: #313854;
            i { opacity: 1; }
        }

        i { 
            opacity: .5; 
            transition: all .1s ease-in-out;
        }

        span { margin-left: .5rem; }
    }
    .menu {
        margin-top: 1rem; 
        &:first-child { margin-top: 0; }
    }
    .menu-tit { 
        padding: .25rem 1rem; 
        font-size: .85em; 
    }
}

/* profile component */

.profile-component { 
    background: #4d5573; 
    padding: 1.5em 0; 
    margin-bottom: 1rem; 

    figure {
        text-align: center; 
        figcaption { 
            margin-top: .5rem;
        }
        img { 
            background: #fff; 
            display: inline-block;
            width: 100px; 
            height: 100px; 
            line-height: 45px; 
            border-radius: 50%;
            overflow: hidden;
        }
    }

    .profile-btn-group { 
        @include display(flex); 
        @include justifyContent(center); 
        margin-top: 1rem; 
    }
}


/* crumb-component */

.crumb-component {    
    ul { 
        @include display(flex); 
        @include alignItems(center); 

        li { 
            &:nth-child(2n) { 
                width: 5px; 
                height: 5px; 
                border: { 
                    top: $borderBasic;
                    right: $borderBasic;
                    color: $navy; 
                }
                margin: { 
                    right: .55rem; 
                    left: .45rem; 
                }
                transform: rotate(45deg); 
            }
            a { 
                transform: skew(-0.1deg);
                font-size: .725rem; 
            }
        }
    }
} 

/* table-component */

.table-component { 
    width: 100%; 
    height: 100%; 

    table { 
        @extend .table-component; 
        border: { 
            top: $borderBasic; 
            right: $borderBasic; 
            color: $grey; 
        }

        th { 
            @extend td;  
            font-family: 'NanumSquare-ExtraBold', san-serif;
        } 
        
        td { 
            padding: .75em; 
            border: { 
                left: $borderBasic; 
                bottom: $borderBasic; 
                color: $grey; 
            }
            vertical-align: middle;
            text-align: center;
            font-size: .75rem; 
            color: currentColor; 
        }
    }

    & #userSearchTable {
        th:first-child, 
        td:first-child { 
            width: 120px; 
        }
    }
}

/* card */

.card { 
    background: #fff; 
    border: $borderBasic $grey; 

    $headHeight: 45px; 

    .tit { 
        background: #f4f7fb;
        height: $headHeight; 
        line-height: $headHeight;
        padding: 0 1em; 
        font-size: .775rem; 
        font-weight: 700; 
        border-bottom: $borderBasic $grey; 

        span[id] {font-weight: 700; }
    }

    .con { padding: 1em; }

    .bot { 
        height: $headHeight + 15px; 
        line-height: $headHeight + 15px;
        padding: 0 1em; 
    }
}


/* chart */

.chart-container { height: 100%; }


/* form */

form {
    
    label.label-tit { 
        display: inline-block; 
        margin-bottom: .35rem; 
        font-size: .725rem; 
        font-weight: 700;  
        color: #454d5b; 
    }

    input { 
        background: #f6f6f6; 
        width: 100%; 
        min-height: 30px; 
        padding-left: .5em; 
        border: 1px solid #ddd; 
        border-radius: .225rem;
    }

    .sch-box, .chk-box, .rdo-box { 
        @include display(flex); 
        @include alignItems(center); 
        position: relative;
    }

    .chk-box label, 
    .rdo-box label { 
        @include labelBasic; 
    }

    .chk-box label::before, 
    .rdo-box label::before { 
        @include labelBefore; 
    }

    .chk-box { 

        input { 
            display: none; 
            &:checked + label::after { 
                display: block; 
            }
        }

        label { 
            &::after { 
                content: ''; 
                display: none; 
                width: 8px; 
                height: 6px; 
                border: { 
                    left: $borderBasic; 
                    bottom: $borderBasic; 
                    color: $orange; 
                }
                position: absolute;
                top: 13px; 
                left: 3px; 
                transform: rotate(-45deg);
            }
        }
    }

    .rdo-box { 
        input { 
            display: none; 
            &:checked + label::before { 
                border-color: $orange; 
            }
        }

        label { 
            &::before { border-width: 5px; }
            &::after { 
                content: ''; 
                background-color: #fff; 
                width: 7px; 
                height: 7px; 
                position: absolute;
                top: 14px; 
                left: 4px;
                border-radius: .15rem;
            }
        }
    }

    .sch-box { 
        input {
            &[type="text"] { 
                background: #eaedf1; 
                width: 100%; 
                height: 32px; 
                line-height: 32px;
                padding-left: 1em; 
                padding-right: 2.75em; 
                border: $borderBasic;
                border-radius: .5rem;
                font-size: .75rem; 
            }

            &[type="submit"] { 
                background: url(../img/search.svg) center center no-repeat; 
                background-size: 15px; 
                width: 35px; 
                min-width: 25px; 
                border: none;
                position: absolute; 
                top: -2px; 
                right: 0; 
                bottom: 0; 
                margin: auto; 
            }
        }        
    }

    .sel-box { 
        select { 
            background: url('../img/icon/arrow-down.svg') calc(100% - 10px) center no-repeat; 
            background-size: 10px; 
            padding-left: 1em; 
            padding-right: 2.75em; 
        }
    }
} 


/*  */

.img-component {

    &[data-flow="row"] { 
        @include display(flex); 
        @include alignItems(center); 

        .img-box { margin-right: 1rem; }
        .txt-box { width: 100%; }
    }

    .img-box {

        $size: 75px; 

        &.icon { 
            width: $size; 
            height: $size; 
            line-height: $size; 
            border-radius: 50%;
            text-align: center;
            font-size: 28px; 
        }
    }

    .txt-box { 

        span[id] { 
            display: inline-block; 
            margin-top: .25rem; 
            padding-right: .15em; 
            font-size: 1.55rem; 
            font-weight: 700; 
        }

        .compare-num { 
            text-align: right;
            
            i { margin-right: .35rem; }; 

            &.down { color: #60b5ef; }
            &.up { color: #f97e98; }
        }
    }
}

.block-tit { 
    font-size: .85rem; 
}

.date-component { 

    [class*="date-"] { 
        position: relative;
        display: block; 
    }

    .ui-datepicker-trigger { 
        background: transparent; 
        width: 14px; 
        border: 0; 
        padding: 0; 
        position: absolute;
        bottom: 8px; 
        right: 8px; 
    }
}

.dataTables_wrapper { 
    font-size: .825rem; 
    .ui-toolbar { padding: 1em !important; }

    .ui-widget-header { 
        background: transparent; 
    }

    .ui-state-default { 
        background: transparent; 
        border: { 
            right: none; 
            top: none; 
        }    
    }

    .dataTable.no-footer {
        border-bottom-color: #dbe1e8; 
    }
}