$width: 225px; 

#wrap { 
    background: #22282c; 
    width: 100%; 
    height: 100vh;
    overflow: hidden;
}

header { 
    position: relative;
    height: 100%; 
    position: absolute;
    left: 0; 
    top: 0; 
    z-index: 100;
    transition: left .45s ease-in-out; 
}

#headerMenu { 
    /* background: #15191c;  */
    background: #394263; 
    width: $width; 
    min-width: $width; 
    height: 100%; 
    overflow: { 
        x: hidden; 
        y: auto; 
    }
    font-size: 14px; 
    color: #fff; 
}

header.off { 
    left: -$width; 
}

header h1 { position: relative; }

header h1 a.logo { 
    height: 60px; 
    line-height: 60px;
    text-align: center;
    font-size: 16px; 
    color: #fff; 
}

header h1 a.logo i { font-size: 32px; }
header h1 button.btn {
    position: absolute;
    top: 0; 
    right: 1.25rem; 
    bottom: 0; 
}

.brick { 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.25); 
    position: absolute; 
    top: 0; 
    left: 0; 
}

/* ---------------------------------------------------------- */


main { 
    background: #eaedf1; 
    width: 100%; 
    height: 100vh; 
    padding-left: $width; 
    transition: padding-left .45s ease-in-out; 
}

main.full-screen { padding-left: 0; }

.page-head { 
    background: #fff;
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 60px; 
    line-height: 60px;
    padding: 0 1em; 
    border-bottom: 1px solid #dbe1e8; 
}

.page-main { 
    height: calc(100vh - 60px); 
    padding: 1em; 
    overflow-x: hidden;
    overflow-y: auto; 
}

@media screen and (max-width: 1200px) { 

    main { 
        padding-left: 0; 
    }
}